< ion-header  [translúcido] =" true " >
  < barra de ferramentas de íons >
    < título-íon >
      Em branco
    </ ion-title >
  </ barra de ferramentas ion >
</ ion-header >

< ion-content  [tela cheia] =" true " >
  < íon-item >
    < ion-label  position =" flutuante " > Nome </ ion-label >
    < ion-input color="primary" [(ngModel)] =" nome " > </ ion-input >
  </ íon-item >

  < íon-item >
    < ion-label  position =" flutuante " > Email </ ion-label >
    < ion-input color="primary" [(ngModel)] =" email " > </ ion-input >
  </ íon-item >

    < íon-item >
      < ion-label  position =" flutuante " > Telefone </ ion-label >
      < ion-input color="tertiary" [(ngModel)] =" telefone " > </ ion-input >
    </ íon-item >

    < ion-button  expand =" block " (clique) =" abrirTela() " > Cadastrar </ ion-button >
</ conteúdo de íons >
